Package: transhell
Version: 1.0
Maintainer: shenmo <shenmo@spark-app.store>
Priority: optional
Section: utils
Installed-Size:10
Depends: bash
Description: make bash shell i18n. Can be used by source /opt/durapps/transhell/transhell.sh
Architecture: all
Homepage: https://gitee.com/spark-community-works-collections/transhell

